.wrapper.padding.scheme
  %h1 Why do I care?
  .feature.chat.even
    %h4 Group chat between distributed teams
    Be it real time or just a dumping ground for whatever happens in your day. It's there, to be read and used by 
    the part of team on the other side of the world. It's the real distributed chat.
  .feature.transcript.odd
    %h4 File transcripts and history
    Pipe maintains your chat history. You can browse and read transcripts by date; mark favorites and search through the rubble. All in a snap!
  .feature.groupchat.even
    %h4 The hush-hush rooms
    Create your private rooms or let the whole world join in. You decide, who stays and who goes. The only room bigger than this virtual room is, 
    room for improvement!
    %i
      (And yes, we are working on it!)
  .feature.easy.odd
    %h4 Because it's drop dead easy
    If you were a primate
    %i 
      (not saying that you are!)
    , and the only thing you knew was to press enter key; You'd still get *it*. Telling ya. It's just simple. 
