.container.header
  %header{:class => "padding clearfix home"}
    %a{:href => "", :title => "Pipe", :class => "logo home"}
      %img{:src => "images/barcode.png", :height => "60%", :width => "60%"}
    .intro
      %p
      %h3{:class => "no-margin"}
        Hello there!
      We are simply glad that you are here. If you are already a member, show your magic and 
      %a{:href => "", :title => "Sign in"}
        log-in
      %p
      Pipe is a group chat, that allows you to collaborate with distributed teams. It's simple, no-nonsense and easy.
      %p
      Oh.. the barcode?? We just love barcodes! It's our wierd thing. 
